.page-wrapper {
  display: flex;
}

.chat-wrapper {
  background-color: #343541;
  flex: 1;
}

.title-container {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.title {
  font-size: 3rem;
  line-height: 1;
  margin-bottom: 5rem;
}

.subtitle {
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 2px;
}