.page-wrapper {
  display: flex;
}

.chat-wrapper {
  background-color: #343541;
  flex: 1 1 0%;
}

.title-container {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.title {
  font-size: 3rem;
  line-height: 1;
  margin-bottom: 5rem;
}

.subtitle {
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 2px;
  padding: 1rem;
}

.sidebar-wrapper {
  background-color: #202123;
  width: 20rem;
  height: 100vh;
  overflow-y: auto;
}

.sidebar-container {
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.sidebar {
  flex: 1 1 0%;
}

.new-chat {
  border: 1px rgb(209 213 219) solid;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
  padding: 0.75rem 1.25rem;
  margin-bottom: 10px;
  font-size: 0.875rem;
  line-height: 1.25rem;
  display: flex;
  cursor: pointer;
  color: rgb(209 213 219);
  transition: all;
  transition-duration: 200ms;
  transition-timing-function: ease-out;
}

.new-chat:hover {
  background-color: #3f3f3f;
}

.plus-icon {
  height: 1rem;
  width: 1rem;
  margin-right: 0.5rem;
}

.login {
  background-color: #11A37F;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  height: 100vh;
}

.login button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: white;
  font-weight: 700;
  font-size: 1.875rem;
  line-height: 2.25rem;
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

@keyframes pulse {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: .5;
  }
}

.sign-out {
  display: flex;
  flex-direction: column;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  color: rgb(209 213 219);
}

.profile-pic {
  height: 3rem;
  width: 3rem;
  border-radius: 9999px;
  cursor: pointer;
  margin-bottom: 0.5rem;
}

.sign-out:hover {
  opacity: 0.5;
}

.chat-bubble {
  height: 1.25rem;
  width: 1.25rem;
  color: rgb(209 213 219);
}

.trash-icon {
  height: 1.25rem;
  width: 1.25rem;
  color: rgb(209 213 219);
}

.trash-icon:hover {
  color: rgb(185 28 28);
}

.chat-row {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.chat-row.active {
  background-color: #3f3f3f;
  border-radius: 0.5rem;
}

.chat-row-name {
  flex: 1 1 0%;
  padding: 0px 10px;
  color: rgb(209 213 219);
}

.chat-page {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

.chat-input-container {
  background-color: rgb(55 65 81);
  color: rgb(156 163 175);
  border-radius: 0.5rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.chat-input-form {
  padding: 1.25rem;
  margin-left: 1.25rem;
  display: flex;
}

.chat-input {
  outline: none;
  border: none;
  background: transparent;
  flex: 1 1 0%;
  color: white;
}

.chat-input:disabled {
  cursor: not-allowed;
  color: rgb(209 213 219);
}

.chat-input-button {
  color: white;
  font-weight: 700;
  background-color: #11A37F;
  border: none;
  outline: none;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
}

.chat-input-button:disabled {
  background-color: rgb(209 213 219);
  cursor: not-allowed;
}

.chat-input-button-icon {
  height: 1rem;
  width: 1rem;
  transform: rotate(-45deg);
}

.chat-container {
  flex: 1 1 0%;
}