.page-wrapper {
  display: flex;
}

.chat-wrapper {
  background-color: #343541;
  flex: 1 1 0%;
}

.title-container {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.title {
  font-size: 3rem;
  line-height: 1;
  margin-bottom: 5rem;
}

.subtitle {
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 2px;
  padding: 1rem;
}

.sidebar-wrapper {
  background-color: #202123;
  width: 20rem;
  height: 100vh;
  overflow-y: auto;
}

.sidebar-container {
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.sidebar {
  flex: 1 1 0%;
}

.new-chat {
  border: 1px rgb(209 213 219) solid;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
  padding: 0.75rem 1.25rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  display: flex;
  cursor: pointer;
  color: rgb(209 213 219);
  transition: all;
  transition-duration: 200ms;
  transition-timing-function: ease-out;
}

.new-chat:hover {
  background-color: #3f3f3f;
}

.plus-icon {
  height: 1rem;
  width: 1rem;
  margin-right: 0.5rem;
}